# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Guy Dahan\Google Drive\תואר באוניברסיטת תל אביב 2019\מדעים להייטק - שנה א'\Semester B\Machine Learning\Project\Machine-Learning-Project---Guy-and-Tamar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
